<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
</head>

<body>
    <h1>Url Shortner</h1>

    <form method="POST" action="/url">
        <label>
            Enter your original url:
        </label>
        <input type="text" name="url" placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>

    <% if(locals.shortId) { %>
    <h1>Shortned Url : <a>https://snipzip.onrender.com/url/<%= locals.shortId %></a> </h1>
    <% } %>

    <% if(locals.allUrls) { %>
    <table>
        <thead>
            <th>S. No.</th>
            <th>shortId</th>
            <th>Redirect Url</th>
            <th>Clicks</th>
        </thead>
        <tbody>
            <%allUrls.forEach((url,index) => { %>
            <tr>
                <td><%= index+1 %></td>
                <td>https://snipzip.onrender.com/url/<%= url.shortId %></td>
                <td><%= url.redirectUrl %></td>
                <td><%= url.visitHistory.length %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
</body>

</html>